:root {
  font-size: 18px;
  --white30: white;
  --white20: #a5a3a5;
  --white10: #3a3539;
}

body {
  color: var(--white30);
  font-family: "Nunito", sans-serif;
  background: #251f24;
  margin: 0;
}

a {
  color: var(--white30);
  text-decoration: none;
}

.header-content {
  padding-inline: 20px;
}

header {
  margin-block-start: 20px;
  font-size: 14px;
  color: var(--white30);
}

header li {
  color: var(--white20);
  margin-block-end: 16px;
}

header a {
  color: var(--white20);
}

header a:hover {
  color: var(--white30);
}

nav details summary {
  font-weight: bold;
}

h1 {
  font-size: 40px;
  margin-block-start: 20px;
  margin-block-end: 16px;
  /* font-size: 3.75em; */
}

h2 {
  font-size: 2em;
  margin-block: 40px;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-block: 16px;
}

hr {
  margin-block: 40px;
  border-color: rgba(97, 97, 97, 0.2);
}

pre {
  background: var(--white10);
  padding: 40px;
  color: var(--white30);
  overflow: auto;
  border-radius: 8px;
  border: 10px solid #2eb8f8;
  box-shadow: -10px 10px 0 0 #77cdf5;
  margin-block-end: 30px;
  border-start-start-radius: 60px;
}

p {
  color: var(--white20);
}

.hero {
  background: linear-gradient(96.07deg, #314755 30.63%, #26a0da 102.18%);
  block-size: 50px;
}

.section-content img {
  margin-block-start: 40px;
  display: block;
  max-inline-size: 100%;
}

.section-content {
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
}

.section-content h3::before {
  content: counter(titleList, decimal) ". ";
}

/* .section-content h3::after {
  content: "";
  width: 32px;
  height: 4px;
  background: var(--white30);
  display: inline-block;
} */

blockquote {
  margin-block-start: 80px;
  margin-block-end: 63px;
  background: var(--white10);
  border-radius: 8px;
  line-height: 32px;
  font-size: 24px;
  padding: 24px;
}

blockquote p {
  color: var(--white30);
}

/* ::selection {
  background: yellowgreen;
} */

.main hr {
  display: none;
}

.wrapper {
  max-inline-size: 902px;
  margin: auto;
}

.main-content {
  padding-inline: 16px;
}

.slider-container {
  /* block-size: 100px; */
  display: block;
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
}

.video {
  margin: 0;
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list {
  text-align: center;
  margin-block-start: 10px;
}

.slider-bullet {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background: white;
  border-radius: 50%;
}

.form input {
  inline-size: 100%;
  border: 1px solid var(--white30);
  background: #251f24;
  box-sizing: border-box;
  border-radius: 8px;
  padding-inline: 16px;
  padding-block: 12px;
  color: var(--white30);
  font-size: 16px;
  display: block;
  margin-block-end: 24px;
}

.form input[type="submit"] {
  background: #157efb;
  border: none;
}

.form input::placeholder {
  color: var(--white20);
}

@media screen and (min-width: 1366px) {
  .hero {
    block-size: 350px;
  }

  .header {
    position: sticky;
    inset-block-start: -45px;
  }

  .header-content {
    position: relative;
    inset-block-start: 65px;
    padding-inline: 0;
  }

  header {
    position: absolute;
    /* top */
    inset-block-start: 0;
    /* bottom */
    /* inset-block-end: ; */
    /* left */
    inset-inline-start: -208px;
    inline-size: 188px;
  }

  h1 {
    font-size: 60px;
    margin-block-start: 64px;
  }
}
