:root {
  font-size: 18px;
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--gray30);
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a{
  color: var(--gray30);
  text-decoration: none;
}

header {
  /* --gray10: red; */
  font-size: 14px;
  width: 188px;
  color: var(--gray10);
  position: absolute;
  top: 64px;
  left: -232px;
  z-index: 1;
}

header a {
  color: var(--gray10);
}

header a:hover {
  color: var(--gray30);
}

nav details summary {
  font-weight: bold;
  line-height: 24px;
}

header li {
  margin-bottom: 16px;
}

h1 {
  font-size: 60px;
  /* font-size: 3.75em; */
  margin-top: 64px;
  margin-bottom: 16px;
  font-weight: normal;
}

/* h1 ~ p {
  margin-bottom: 64px;
} */

hr {
  margin: 64px 0;
}

h2 {
  font-size: 2em;
  margin: 64px 0 40px;
  font-weight: normal;
}

h3 {
  font-size: 1.5em;
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: normal;
  position: relative;
  background: white;
}

pre {
  background: #FEC62E;
  padding: 40px;
  font-family: 'roboto';
  line-height: 24px;
}

blockquote {
  font-size: 24px;
  margin: 32px 0;
  padding-left: 16px;
  line-height: 24px;
  /* border: 1px solid red; */
  border-left: 4px solid var(--gray30);
}

blockquote span {
  color: var(--gray10);
}

blockquote span::before {
  content: '-';
}

.header {
  position: sticky;
  top: 0;
}

.header-content {
  position: relative;
}

/* .main {
  background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url('../images/pattern2.jpg');
} */

.wrapper {
  width: 902px;
  margin: auto;
}

.main-content {
  background: white;
}

.debug {
  box-shadow: inset 0 0 0 1px red;
  outline: 1px solid red;
  background: red;
  /* border: 1px solid red !important;
  box-sizing: border-box;
}

.hero {
  background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url('../images/pattern.jpg');
  /* background-repeat: no-repeat; */
  /* background-position: left 50px bottom -50px; */
  /* background-size: cover; */
  height: 250px;
}

.section-content {
  margin-top: 164px;
  position: relative;
}

.section-content:first-of-type {
  margin: 0;
}

.section-content ol li {
  line-height: 24px;
}

.section-content ul li {
  margin-bottom: 16px;
}

.section-content + hr {
  display: none;
}

.section-content img {
  margin-top: 40px;
}

.section-content {
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
  padding-bottom: 8px;
}

.section-content h3::before {
  content: counter(titleList, decimal) '. ';
}

.section-content h3::after {
  content: '';
  width: 80px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* ::selection {
  background: yellowgreen;
} */